<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dream Garage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'
        integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'></script>

    <script src="/assets/js/script.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body class="everything">
    <nav>

        <div id="navbar" class="nav-wrapper">
            <a href="#" style="position: relative" class="brand-logo">Dream Garage</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down red">
                <li><a href="/">Get a New Car </a></li>
                <li><a href="garage">My Garage</a></li>
            </ul>
    </nav>
    <div id="currentday"></div>
    <div> {{{body}}} </div>
    <div id="container">
        <h1 id="bigname">Sample Cars!</h1>
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img
                    src="https://cdn.carbase.com/dealerx/choiceautomotive/4237738_103652518_640.jpg">
                <div class="imgtext">2011 Ford Explorer</div>
            </a>
            <a class="carousel-item" href="#two!"><img
                    src="https://cdn.jdpower.com/Models/640x480/2011-Hyundai-Elantra-GLS.jpg">
                <div class="imgtext">2011 Hyundai Elantra</div>
            </a>
            <a class="carousel-item" href="#three!"><img
                    src="https://m.media-amazon.com/images/I/71ZZcROp36L._UY560_.jpg">
                <div class="imgtext">Ford F-150</div>
            </a>
            <a class="carousel-item" href="#four!"><img
                    src="https://lh3.googleusercontent.com/proxy/295V6iRZhw_uWVP6hJ38hRvdVjdAo4sJE0LQnAHBHFtyU_6wV7hVsrtHC7j2uXHt207qCdfsYz7gwDxvzgF7uAEU-v1ZAwDUbGkbXtb2c_9L-f9hplO9JyUvQb-_VRkL48N6p1QXzTyBQJ34mc4">
                <div class="imgtext">Lamborghini Veneno Roadster</div>
            </a>
            <a class="carousel-item" href="#five!"><img
                    src="https://www.esquireme.com/sites/default/files/styles/full_img/public/images/2019/09/12/super-sport-300-1.jpg?itok=-vED5XoK">
                <div class="imgtext">bugatti chiron super sport 300+</div>
            </a>
        </div>
    </div>
    <footer id="footer" class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    
<style>
    .right {
        padding-right: 15px;
    }

    .dream {
        padding-left: 15px !important;
    }
</style>
</body>


</html>




