<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dream Garage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='https://code.jquery.com/jquery-3.4.1.min.js'
        integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous'></script>

    <script src="/assets/js/script.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <nav>

        <div id="navbar" class="nav-wrapper red">
            <img class="logo" src="/assets/images/car.gif" alt="car logo">
            <a href="#" id="title" class="brand-logo">Dream Garage</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down red">
                <li><a href="/">Get a New Car </a></li>
                <li><a href="garage">My Garage</a></li>
            </ul>
    </nav>
    <div class="everything">
        {{{body}}}

    </div>

    <footer id="footer" class="page-footer red">
        <div class="footer-copyright">
            <div class="copyright">
                © 2020 Copyright
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

    <style>
        .right {
            padding-right: 15px;
        }

        .dream {
            padding-left: 15px !important;
        }
    </style>
</body>


</html>