<div class="garage">
    <figure class="snip1273">
        <img src="https://car-pictures.cars.com/images/?IMG=USC50FOC123A021001.jpg" alt="sample72" />
        <figcaption>
            <h3 class="heading1">2017 Ford Focus</h3>
            <p class="body-type1">body type:</p>
            <p class="drivetrain1">drivetrain:</p>
            <p class="engine1">engine:</p>
            <p class="doors1">doors:</p>
            <p class="transmission1">transmission:</p>
        </figcaption>
    </figure>
    <figure class="snip1273">
        <img src="https://car-pictures.cars.com/images/?IMG=USC50FOC123A021001.jpg" alt="sample72" />
        <figcaption>
            <h3 class="heading1">2017 Ford Focus</h3>
            <p class="body-type1">body type:</p>
            <p class="drivetrain1">drivetrain:</p>
            <p class="engine1">engine:</p>
            <p class="doors1">doors:</p>
            <p class="transmission1">transmission:</p>
        </figcaption>
    </figure>
    <figure class="snip1273">
        <img src="https://car-pictures.cars.com/images/?IMG=USC50FOC123A021001.jpg" alt="sample72" />
        <figcaption>
            <h3 class="heading1">2017 Ford Focus</h3>
            <p class="body-type1">body type:</p>
            <p class="drivetrain1">drivetrain:</p>
            <p class="engine1">engine:</p>
            <p class="doors1">doors:</p>
            <p class="transmission1">transmission:</p>
        </figcaption>
    </figure>
    <figure class="snip1273">
        <img src="https://car-pictures.cars.com/images/?IMG=USC50FOC123A021001.jpg" alt="sample72" />
        <figcaption>
            <h3 class="heading1">2017 Ford Focus</h3>
            <p class="body-type1">body type:</p>
            <p class="drivetrain1">drivetrain:</p>
            <p class="engine1">engine:</p>
            <p class="doors1">doors:</p>
            <p class="transmission1">transmission:</p>
        </figcaption>
    </figure>
</div>