<figure class="snip1273">
    <img src="https://static.cargurus.com/images/article/2016/12/21/10/21/2017_ford_focus_preview_overview-pic-2924362191861712051-1600x1200.jpeg"
        alt="sample72" />
    <figcaption>
        <h3>2017 Ford Focus </h3>
        <p>body type:</p>
        <p>drivetrain</p>
        <p>engine</p>
        <p>doors</p>
        <p>transmission</p>
    </figcaption>
</figure>