
#footer{
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 0;
}
.page-footer{
    padding-top: 0px;
}
.copyright{
    margin: auto;
}

#navbar{

    text-align: center;
   

}

#bigname{
  text-align: center;
  margin: 0px 0;
  
}

#title{
    position: relative;
    margin-left: 236px;
    font-size: 30px;
    /* align-content: center; */
}

#height1{
height: 180px;
width: 240px;
}

#height2{
max-height: 180px;
}

.logo{
  position: absolute;
  height: 82px;
  top: -2px;
  left: 18px;
  color: white
}

.garageContainer {
  width: 100%;
  /* height: 100vh; */
  display: block;
  position: relative;
  margin-bottom: 0px;
  padding-bottom:280px;
 
}
.garageContainer::after{  

    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Car_Show_%282652965535%29.jpg/1200px-Car_Show_%282652965535%29.jpg");
    background-repeat: repeat;
    /* background-size: cover; */
    content: "";
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    /* height: 100vh; */
}

.all {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
   
  }
  .all::after{  
  
      background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Car_Show_%282652965535%29.jpg/1200px-Car_Show_%282652965535%29.jpg");
      /* background-repeat: repea !important; */
      background-size: cover;
      content: "";
      opacity: .5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  }


.search {
  font-weight: bolder;
  

}

.something {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


.main-cards {
    display: inline-block;
    min-height: 408px;
    max-width: 260px;
    min-width: 260px;
    margin-left: 0;
    position: relative;
    animation-name: card-trick;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
@keyframes card-trick{
    0%{opacity: 0; bottom: -75px;}
    100%{opacity: 1; bottom: 0px;}
}
.photolink{
    max-width: 260px;
}

.heading {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.searchBtn {
  background: rgb(255, 60, 0);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;

}

.main {
  text-align: right;
  width: 550px;
  height: 200px;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow:0 0 7px rgb(61, 61, 61);


}
/* .hide{
    display: none;
} */

/* ================================= */

.tech-slideshow {
  height: 250px;
  min-width: 70vw;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);


  }
  
  .tech-slideshow > div {
    height: 250px;
    width: 2526px;
    background: url(https://i.imgur.com/9gaLHGD.gif);
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0);
  }
  .tech-slideshow .mover-1 {
    animation: moveSlideshow 30s linear infinite;
  }
  .tech-slideshow .mover-2 {
        opacity: 0;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
    animation: moveSlideshow 15s linear infinite;
  }
  /* .tech-slideshow:hover .mover-2 {
    opacity: 1;
  } */


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}


/* =========================================================== */

.delete-car{
    padding:  0px 17px 7px 17px;
    font-size:40px;
    border-radius: 30px;
    color: white;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 30px;
    border: none;
    cursor: pointer;
}

.garageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.snip1273{
    max-width: 400px;
    min-width: 400px;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow:0 0 7px rgb(61, 61, 61);
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1273 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: 10px;
  margin-top: 30px;
  min-width: 400px -60px;
  max-width: 400px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  background-color: #000000;
  font-size: 8px;
}
.snip1273 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.snip1273 img {
  position: relative;
  max-width: 100%;
  vertical-align: top;
  border-radius: 10px;
  min-height: 300px;
  max-height: 300px;
}
.snip1273 figcaption {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  padding: 20px 30px;
}
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  width: 1px;
  height: 0;
}
.snip1273 figcaption:before {
  right: 0;
  top: 0;
}
.snip1273 figcaption:after {
  left: 0;
  bottom: 0;
}
.snip1273 h3,
.snip1273 p {
  line-height: 1.5em;
}
.snip1273 h3 {
  margin: 0 0 5px;
  font-weight: 500;
  font-size: 25px;
  text-overflow: ellipsis;
  text-transform: uppercase;
 
}
.snip1273 p {
  font-size: 17px;
  font-weight: 200;
  margin: 0 0 5px;
}
.snip1273 a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.snip1273:before,
.snip1273:after,
.snip1273 figcaption:before,
.snip1273 figcaption:after {
  position: absolute;
  content: '';
  background-color: #ffffff;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0.8;
}
.snip1273:before,
.snip1273:after {
  height: 1px;
  width: 0%;
}
.snip1273:before {
  top: 0;
  left: 0;
}
.snip1273:after {
  bottom: 0;
  right: 0;
}
.snip1273:hover img,
.snip1273.hover img {
  opacity: 0.4;
}
.snip1273:hover figcaption,
.snip1273.hover figcaption {
  opacity: 1;
}
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  height: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after {
  width: 100%;
}
.snip1273:hover:before,
.snip1273.hover:before,
.snip1273:hover:after,
.snip1273.hover:after,
.snip1273:hover figcaption:before,
.snip1273.hover figcaption:before,
.snip1273:hover figcaption:after,
.snip1273.hover figcaption:after {
  opacity: 0.1;
}



@media (max-width: 573px){
    nav{
        height: 134px;
    }
}
@media (max-width: 680px){
    nav{
        /* height: 134px; */
       width:   100vw;
    }
   
    #title{
        margin: auto;
        /* top: 65px; */
        padding-left: 150px;
        float: left;

    }
         
        
   
}
