body{
    background-image: url(assets/images/car.jpg);

}

#main{
    display: hidden;
}

.everything {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.everything::after {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Car_Show_%282652965535%29.jpg/1200px-Car_Show_%282652965535%29.jpg");
    content: "";
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.search {
    font-weight: bolder;

}

.something {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.testing {
    min-height: 408px;
    border-radius: 10px !important;
}

.heading {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.searchBtn {
    background: rgb(255, 60, 0);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;

}

.main {
    text-align: right;
    width: 550px;
    height: 200px;
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}